<!DOCTYPE html>

<html>

    <head>
        
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />

        <title>Label Master</title>

        <!--Index CSS-->
        <link rel='stylesheet' href='{{ url_for('static', filename='index.css') }}'>

        <!--Bootstrap using CDN-->
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>

        <!--Fontawsome Icons-->
        <link href='https://use.fontawesome.com/releases/v5.6.1/css/all.css' rel='stylesheet'>

    </head>

    <body>
        <div class='dashboard'><p>cover rate: {{ coverRate }}<br>
                                  mean: {{ mean }}<br>
                                  std: {{ std }}</p></div>
        <center>
            <br>
            <button onclick='location.href = "/upload"'>Upload Data</button>
            <br>
            <br>
            <form action method='POST'>
                
                <h1>{{ text }}</h1>
                <br>
                <input name='idx' value='{{ idx }}' style='display: none'>
                <br>
                <h2>評分</h2>
                <br>
                <h3>
                    <input type='radio' name='score' value='1'> 1
                    <input type='radio' name='score' value='2'> 2
                    <input type='radio' name='score' value='3' checked> 3
                    <input type='radio' name='score' value='4'> 4
                    <input type='radio' name='score' value='5'> 5
                </h3>
                <br>
                <br>
                <h2>單選Sentiment Tag</h2><br>
                <h1>
                    <input type='radio' name='tag' value='happy'> happy😀
                    <input type='radio' name='tag' value='angry'> angry😡
                    <input type='radio' name='tag' value='wow' checked> wow😲
                    <input type='radio' name='tag' value='sad'> sad😢
                    <input type='radio' name='tag' value='none'> none😐
                </h1>
                <br>
                <h2>單選Type</h2><br>
                <h1>
                    <input type='radio' name='type' value='日曆'> 日曆
                    <input type='radio' name='type' value='其它' checked> 其它
                    <input type='radio' name='type' value='導覽'> 導覽
                    <input type='radio' name='type' value='問答'> 問答
                    <input type='radio' name='type' value='輕應用'> 輕應用
                    <input type='radio' name='type' value='媒體指令'> 媒體指令
                    <input type='radio' name='type' value='閒聊'> 閒聊
                    <input type='radio' name='type' value='人工客服'> 人工客服
                    <input type='radio' name='type' value='天氣'> 天氣
                    <input type='radio' name='type' value='導航'> 導航
                    <input type='radio' name='type' value='接待'> 接待
                    <input type='radio' name='type' value='驗證碼'> 驗證碼
                    <input type='radio' name='type' value='引領'> 引領
                    <input type='radio' name='type' value='註冊'> 註冊
                    <input type='radio' name='type' value='通用指令'> 通用指令
                </h1>
                <br>
                <br>
                <h2>自定義Tag(opt.)</h2>
                <br>
                <h3>
                <div name='tag_opts'>
                    {% for customTag in customTags %}
                    <div><input type='checkbox' name='tag_opt' value={{ customTag }}> {{ customTag }}</div>
                    {% endfor %}
                </div>
                </h3>
                <input type='submit' value='submit'>
            </form>
            <br>
            <br>
            <input type='text' name='addText' value=''>
            <button onclick='addCheckbox()'> + </button> 
            <button onclick='removeCheckbox()'> - </button>
            <br>
            <br>
        </center>

    </body>


    <script>
        function addCheckbox() {
            var textBox = document.getElementsByName('addText')[0];
            if(textBox.value != ''){
                var divElement = document.createElement('div');
                var tagOpts = document.getElementsByName('tag_opts')[0];
                var cb = document.createElement('input');
                cb.setAttribute('type', 'checkbox');
                cb.setAttribute('value', textBox.value);
                cb.setAttribute('checked', 'checked');
                cb.setAttribute('name', 'tag_opt');
                tagOpts.appendChild(divElement);
                var nodeLength = tagOpts.childElementCount;
                tagOpts.children[nodeLength-1].appendChild(cb);
                var textNode = document.createTextNode(textBox.value);  
                tagOpts.children[nodeLength-1].appendChild(textNode);
                textBox.value = '';
            }
            
        }
        function removeCheckbox() {
            var list = document.getElementsByName('tag_opts')[0];
            var nodeLength = list.childElementCount;
            if(nodeLength != 0){
                list.removeChild(list.children[nodeLength-1]);
            }
        }
    </script>

</html>