<!DOCTYPE html>

<html>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />
    <title>Label Master</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <link href='https://use.fontawesome.com/releases/v5.6.1/css/all.css' rel='stylesheet'>
    <link rel='stylesheet' href='{{ url_for('static', filename='index.css') }}'>
</head>

<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link{% if active_tab == 'home' %} active{% endif %}" href="#" onclick="openTab(event, 'home')">首頁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if active_tab == 'upload' %} active{% endif %}" href="#" onclick="openTab(event, 'upload')">上傳頁面</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if active_tab == 'result' %} active{% endif %}" href="#" onclick="openTab(event, 'result')" style="display:none;">上傳結果</a>
            </li>
        </ul>

        <div id="toggleDashboardContainer">
            <button id="toggleDashboard" onclick="toggleDashboard()">Labeling Coverage</button>
            <div class='dashboard' style="display: none;">
                <ul class="dashboard-info">
                    <li>Cover Rate: {{ coverRate }}</li>
                    <li>Mean: {{ mean }}</li>
                    <li>STD: {{ std }}</li>
                </ul>
            </div>
        </div>


        <div id="home" class="tab-content active">
            <!-- 首頁的內容 -->
            <div>
                <center>
                    <br>
                    <br>
                    <form action method='POST'>

                        <div class="highlighted-text-container">
                            <h2 class="highlighted-text">{{ text }}</h2>
                        </div>
                        <br>
                        <input name='idx' value='{{ idx }}' style='display: none'>
                        <br>
                        <h2>評分</h2>
                        <div class="score-slider">
                          <input type="range" min="1" max="5" step="1" value="3" name="score">
                          <div class="slider-tick">
                            <span>1</span>
                            <span>2</span>
                            <span>3</span>
                            <span>4</span>
                            <span>5</span>
                          </div>
                        </div>

                        <br>
                        <h2>情緒單選（Sentiment）</h2><br>
                        <select name="tag" id="sentiment-select">
                            <option value="happy">happy😀</option>
                            <option value="angry">angry😡</option>
                            <option value="wow" selected>wow😲</option>
                            <option value="sad">sad😢</option>
                            <option value="none">none😐</option>
                        </select>
                        <br>
                        <br>
                        <h2>類型選擇（Type）</h2>
                        <select name="type">
                          <option value="其它">其它</option>
                          <option value="日曆">日曆</option>
                          <option value="導覽">導覽</option>
                          <option value="問答">問答</option>
                          <option value="輕應用">輕應用</option>
                          <option value="媒體指令">媒體指令</option>
                          <option value="閒聊">閒聊</option>
                          <option value="人工客服">人工客服</option>
                          <option value="天氣">天氣</option>
                          <option value="導航">導航</option>
                          <option value="接待">接待</option>
                          <option value="驗證碼">驗證碼</option>
                          <option value="引領">引領</option>
                          <option value="註冊">註冊</option>
                          <option value="通用指令">通用指令</option>
                        </select>
                        <br>
                        <br>

                        <h2>自定義標籤（Optional）</h2>
                        <br>
                        <div class="add-custom-tag">
                            <input type="text" name="addText" placeholder="Add a new tag...">
                            <button type="button" onclick="addCheckbox()">Add</button>
                            <button type="button" onclick="removeCheckbox()">Remove</button>
                        </div>
                        <br>
                        <div class="custom-tags">
                            {% for customTag in customTags %}
                            <div class="custom-tag">
                                <input type="checkbox" name="tag_opt" value="{{ customTag }}">
                                <label>{{ customTag }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <br>
                        <input type='submit' value='送出！' class='submit-button'>
                    </form>
                    <br>
                    <br>
                </center>
            </div>
        </div>

        <div id="upload" class="tab-content" style="display:none;">
            <!-- 上傳頁面的內容 -->
            <div class="upload-page">
                <center>
                    <h1>上傳你想標註的資料！</h1>
                    <form id='uploadForm' enctype='multipart/form-data'>
                        <input type='file' name='file'>
                        <input type='button' value='Upload' onclick="uploadFile()">
                    </form>
                    <br>
                    <br>
                    <a href='/upload/textDataExample.csv'>按我下載範本格式（.csv）</a>
                    <br>
                    <br>
                    <h3>請按照下列表格的格式填寫！</h3>
                    <br>
                    <table border='1'>
                        <tr>
                            <td>
                                <center>
                                    <h4>Text</h4>
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>臺北市有希望了！ B-)</center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>一群垃圾 幹</center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>沒做功課就來討罵</center>
                            </td>
                        </tr>

                    </table>

                    <br>

                    <h3>Sample Source from</h3>
                    <a href='https://github.com/sweslo17/chinese_sentiment'>https://github.com/sweslo17/chinese_sentiment</a>

                </center>
                <br>
                <br>
            </div>
            
        </div>

        <div id="result" class="tab-content" style="display:block;">
            <!-- 上傳結果的內容 -->
            <div>
                <center>
                    <h1 id="uploadResultText"></h1>
                    <br>
                    <h2 id="uploadResultDetail"></h2>
                    <br>
                </center>
            </div>
        </div>
    </div>

    <script>

        function toggleDashboard() {
            var dashboard = document.querySelector('.dashboard');
            var button = document.getElementById('toggleDashboard');
            if (dashboard.style.display === 'none') {
                dashboard.style.display = 'block';
                button.classList.add('active');
            } else {
                dashboard.style.display = 'none';
                button.classList.remove('active');
            }
        }


        function openTab(evt, tabName) {
            var i, tabContent, navLinks;
            tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
            navLinks = document.getElementsByClassName("nav-link");
            for (i = 0; i < navLinks.length; i++) {
                navLinks[i].className = navLinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            if (evt) {
                evt.currentTarget.className += " active";
            }
        }

        function addCheckbox() {
            var textBox = document.getElementsByName('addText')[0];
            if (textBox.value != '') {
                var divElement = document.createElement('div');
                var tagOpts = document.getElementsByClassName('custom-tags')[0];
                var cb = document.createElement('input');
                cb.setAttribute('type', 'checkbox');
                cb.setAttribute('value', textBox.value);
                cb.setAttribute('checked', 'checked');
                cb.setAttribute('name', 'tag_opt');
                var label = document.createElement('label');
                label.textContent = textBox.value;
                label.appendChild(cb);
                divElement.appendChild(label);
                tagOpts.appendChild(divElement);
                textBox.value = '';
            }
        }
        
        function removeCheckbox() {
            var tagOpts = document.getElementsByClassName('custom-tags')[0];
            var checkboxes = tagOpts.querySelectorAll('input[type="checkbox"]');
            var lastCheckbox = checkboxes[checkboxes.length - 1];
            if (lastCheckbox) {
              lastCheckbox.closest('div').parentNode.removeChild(lastCheckbox.closest('div'));
            }
          }

        function uploadFile() {
            var formData = new FormData(document.getElementById('uploadForm'));
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);
        
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.resultText && response.detail) {
                        document.getElementById('uploadResultText').textContent = response.resultText;
                        document.getElementById('uploadResultDetail').textContent = response.detail;
                        
                        if (response.resultText === 'Upload Success') {
                            // 跳轉到 "Upload Result" 標籤
                            openTab(null, 'result');
                        }
                    }
                }
            };
        
            xhr.send(formData);
        }

    </script>

</body>

</html>