<!doctype html>

<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />

        <title>Upload Result</title>
        
        <!--Bootstrap using CDN-->
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>

        <!--Fontawsome Icons-->
        <link href='https://use.fontawesome.com/releases/v5.6.1/css/all.css' rel='stylesheet'>
        
    </head>
    <body>
        <center>
            <h1>{{ resultText }}</h1>
            <br>
            <h2>{{ detail }}</h2>
            <br>
            <br>
            <button onclick='location.href = "/upload"'>Return upload</button>
            <br>
            <br>
            <button onclick='location.href = "/"'>Return home</button>
        </center>
    </body>


</html>