<!doctype html>

<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />

        <title>Upload new File</title>
        
        <!--Bootstrap using CDN-->
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>

        <!--Fontawsome Icons-->
        <link href='https://use.fontawesome.com/releases/v5.6.1/css/all.css' rel='stylesheet'>
        
    </head>
    <body>
        <center>
            <h1>Upload new File</h1>
            <br>
            <br>
            <form method='post' enctype='multipart/form-data'>
                <input type='file' name='file'>
                <input type='submit' value='Upload'>
            </form>
            <br>
            <br>
            <button onclick='location.href = "/"'>Return home</button>
            <br><br>
            <a href='/upload/textDataExample.csv'>Download format file</a>
            <br><br>
            <h3>Please follow the csv format below.</h3>
            <br>
            <table border='1'>
                <tr>
                    <td><center><h4>Text</h4></center></td>
                </tr>
                <tr>
                    <td><center>臺北市有希望了！ B-)</center></td>
                </tr>
                <tr>
                    <td><center>一群垃圾 幹</center></td>
                </tr>
                <tr>
                    <td><center>沒做功課就來討罵</center></td>
                </tr>
                
            </table>


            <!--
            <table border='1'>
                <tr>
                    <td><center>Level(1 to 5)</center></td>
                    <td><center>Classes(happy, angry, wow, sad, none)</center></td>
                    <td><center>Custom classes(json-like)</center></td>
                    <td><center>Text</center></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>happy</td>
                    <td>["城市", "政治"]</td>
                    <td>臺北市有希望了！ B-)</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>happy</td>
                    <td></td>
                    <td>太棒了，不要五分鐘熱度</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>angry</td>
                    <td>["政治"]</td>
                    <td>不要臉的政客 這麼早就掛急診</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>angry</td>
                    <td>["髒話"]</td>
                    <td>一群垃圾 幹</td>
                </tr>
            </table>
            
            -->

            <br>

            Source from: <a href='https://github.com/sweslo17/chinese_sentiment'>https://github.com/sweslo17/chinese_sentiment</a>
            

        </center>
    </body>
</html>
